Carga de datos

In [ ]:
import pandas as pd

In [16]:
df_A = pd.read_csv(r"Datos\a. Modulo_A-C-X-CF.csv", encoding='ISO-8859-1', sep=";")
df_A.head()

,i3,val_i3,utam,zat,cod_depto,cod_mpio,cod_loc,estrato,upz,cod_dane,...,c1u,AllAuto,vehicles_count,x1,x2,x2_o,person_d_e_count,cf5,KEY,Fexp
0,1,1,UTAM035,450,11,11001,15.0,2.0,UPZ35,"1,10011E+21",...,NaN,NaN,NaN,12,10,NaN,4,1,uuid:e3b750ec-55d0-4b6b-8b58-36eac88be4eb,"46,62687849"
1,1,1,UTAM035,450,11,11001,15.0,2.0,UPZ35,"1,10011E+21",...,NaN,NaN,NaN,1,9,NaN,3,1,uuid:43fa70a1-a15b-4ea0-aa99-ad9fd6c49189,"48,72751644"
2,1,1,UTAM035,450,11,11001,15.0,2.0,UPZ35,"1,10011E+21",...,NaN,NaN,NaN,4,10,NaN,5,1,uuid:91ff0f20-dab5-4a43-8668-154399f789b0,"73,02613585"
3,1,1,UTAM035,450,11,11001,15.0,2.0,UPZ35,"1,10011E+21",...,NaN,NaN,NaN,3,10,NaN,4,1,uuid:ca511a7a-6b23-445c-9d68-2c98c6b10bd6,"47,87976363"
4,1,1,UTAM035,450,11,11001,15.0,2.0,UPZ35,"1,10011E+21",...,NaN,NaN,NaN,4,10,NaN,4,1,uuid:e58dcef1-2484-4cd8-abc3-4f3e9ae5a5cc,"66,28903379"

In [9]:
df_B = pd.read_csv(r"Datos\b. Modulo_B.csv", encoding='ISO-8859-1', sep=";")
df_B.head()

,OrderX,b4,b5,b6,b7,b8,b9a,b9b,b10,b11,...,b19,b20,b22,b23,b24,b25,Older18,PARENT_KEY,KEY,Fexp
0,1,55,1,6,NaN,1.0,33.0,31,NaN,NaN,...,4,4.0,1.0,1.0,1.0,1.0,1.0,uuid:2ad8b488-c706-4c60-9fa3-72c9ea976bd6,uuid:2ad8b488-c706-4c60-9fa3-72c9ea976bd6/acce...,"683,1845317"
1,2,28,1,2,NaN,7.0,16.0,39,8.0,NaN,...,2,4.0,1.0,1.0,1.0,1.0,1.0,uuid:2ad8b488-c706-4c60-9fa3-72c9ea976bd6,uuid:2ad8b488-c706-4c60-9fa3-72c9ea976bd6/acce...,"709,362442"
2,1,40,1,6,NaN,2.0,19.0,20,19.0,NaN,...,4,4.0,7.0,1.0,5.0,1.0,1.0,uuid:69ed0955-c872-42c8-98b8-120fe0db42d7,uuid:69ed0955-c872-42c8-98b8-120fe0db42d7/acce...,"59,25493842"
3,2,35,2,6,1.0,6.0,31.0,16,NaN,NaN,...,4,4.0,1.0,1.0,1.0,1.0,1.0,uuid:69ed0955-c872-42c8-98b8-120fe0db42d7,uuid:69ed0955-c872-42c8-98b8-120fe0db42d7/acce...,"65,61243047"
4,3,12,1,6,NaN,3.0,1.0,39,NaN,2.0,...,NaN,4.0,1.0,1.0,1.0,1.0,NaN,uuid:69ed0955-c872-42c8-98b8-120fe0db42d7,uuid:69ed0955-c872-42c8-98b8-120fe0db42d7/acce...,"55,9214612"

In [10]:
df_C = pd.read_csv(r"Datos\c. Modulo_C1.csv", encoding='ISO-8859-1', sep=";")
df_C.head()

,c2,c3,NameAuto,c4,c4o,c5,c5m,c6,c6a,c7,c8,c8_o,ListVehicles,PARENT_KEY,KEY,Fexp
0,1,A,AutomÃ³vil,1,NaN,2.0,66001.0,2,1,2008,1,NaN,VehÃ­culo No. 1: AutomÃ³vil (2008),uuid:38d81220-9026-4f52-991a-f8915b447439,uuid:38d81220-9026-4f52-991a-f8915b447439/acce...,"81,25"
1,1,E,Motocicleta,1,NaN,NaN,NaN,2,8,2011,1,NaN,VehÃ­culo No. 1: Motocicleta (2011),uuid:1807b7af-c09e-47af-9234-18f1a768cd61,uuid:1807b7af-c09e-47af-9234-18f1a768cd61/acce...,"132,19"
2,2,E,Motocicleta,1,NaN,NaN,NaN,2,8,2020,1,NaN,VehÃ­culo No. 2: Motocicleta (2020),uuid:1807b7af-c09e-47af-9234-18f1a768cd61,uuid:1807b7af-c09e-47af-9234-18f1a768cd61/acce...,"132,19"
3,1,B,Campero/Camioneta,1,NaN,1.0,11001.0,1,1,2014,1,NaN,VehÃ­culo No. 1: Campero/Camioneta (2014),uuid:6603181f-9cf9-4754-9aa4-f710acbef8e6,uuid:6603181f-9cf9-4754-9aa4-f710acbef8e6/acce...,"2,93"
4,1,E,Motocicleta,1,NaN,NaN,NaN,2,8,2019,1,NaN,VehÃ­culo No. 1: Motocicleta (2019),uuid:6511a0c7-545d-4af7-a784-8951c586decc,uuid:6511a0c7-545d-4af7-a784-8951c586decc/acce...,"200,03"

In [11]:
df_D = pd.read_csv(r"Datos\d. Modulo_D_E.csv", encoding='ISO-8859-1', sep=";")
df_D.head()

C:\Users\luluf\AppData\Local\Temp\ipykernel_14244\3619290257.py:1: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_D = pd.read_csv(r"Datos\d. Modulo_D_E.csv", encoding='ISO-8859-1', sep=";")

,d2,Age,val_b22.2,val_b24,val_b25,d6,d6_2,d6_3,d6a,d8_1,...,e7_1,e7_2,e10,e11,e16,e18,e20,PARENT_KEY,KEY,Fexp
0,1,41,1.0,1.0,1.0,27/04/2023,NaN,NaN,2.0,11.0,...,NaN,NaN,2.0,1.0,14,NaN,NaN,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
1,2,42,1.0,1.0,1.0,30/04/2023,1/05/2023,NaN,4.0,11.0,...,NaN,NaN,2.0,1.0,14,NaN,NaN,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"282,0237282"
2,3,15,1.0,1.0,1.0,27/04/2023,NaN,NaN,2.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"187,8256266"
3,4,11,1.0,1.0,1.0,27/04/2023,NaN,NaN,2.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"231,994925"
4,1,56,1.0,3.0,NaN,11/05/2023,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,uuid:0002fd31-19da-4cea-9af6-868059a667f8,uuid:0002fd31-19da-4cea-9af6-868059a667f8/acce...,"71,92458243"

In [13]:
df_E = pd.read_csv(r"Datos\e. Modulo_viajes.csv", encoding='ISO-8859-1', sep=";")
df_E.head()

,OrderJourney,d11,d11_o,d12,d12_o,d12a,stage_count,d25_1,d25_2,val_bogreg2,...,d29,d30,d30_o,d31,d31_o,d32,d33,PARENT_KEY,KEY,Fexp
0,1,1,NaN,NaN,NaN,1,1,11,11001,1,...,1,2,NaN,2,NaN,1,5:00:00 p.Â m.,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
1,2,5,NaN,NaN,NaN,1,1,11,11001,1,...,1,2,NaN,2,NaN,2,NaN,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
2,1,1,NaN,NaN,NaN,1,1,11,11001,1,...,1,2,NaN,2,NaN,1,1:30:00 p.Â m.,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
3,2,5,NaN,NaN,NaN,1,1,11,11001,1,...,1,2,NaN,2,NaN,1,2:00:00 p.Â m.,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
4,3,8,NaN,NaN,NaN,1,1,11,11001,1,...,3,2,NaN,2,NaN,1,3:35:00 p.Â m.,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"

In [14]:
df_F = pd.read_csv(r"Datos\f. Modulo_Etapas.csv", encoding='ISO-8859-1', sep=";")
df_F.head()

,StageX,d13,d13_o,d14,d15,d16,d17,d17a,d18,d18_o,...,Totald21a,d21b,d21b_o,d21h,d21m,d21c,d22,PARENT_KEY,KEY,Fexp
0,1,22,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,VehÃ­culo No. 1: AutomÃ³vil (2016),3.0,NaN,8.0,0.0,0.0,0.0,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
1,1,22,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,VehÃ­culo No. 1: AutomÃ³vil (2016),1.0,NaN,NaN,NaN,NaN,0.0,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
2,1,26,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Otro vehÃ­culo,3.0,NaN,5.0,0.0,0.0,0.0,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
3,1,26,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Otro vehÃ­culo,1.0,NaN,NaN,NaN,NaN,0.0,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"
4,1,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,uuid:0001256a-c2fc-4816-91c7-ab0348c4e74b/acce...,"274,8834245"

In [17]:
# Para revisar los elementos cargados. 
%whos

Variable   Type         Data/Info
---------------------------------
df_A       DataFrame             i3  val_i3     u<...>[22755 rows x 66 columns]
df_B       DataFrame           OrderX  b4  b5  b6<...>[67556 rows x 26 columns]
df_C       DataFrame           c2 c3           Na<...>[11838 rows x 16 columns]
df_D       DataFrame           d2  Age  val_b22.2<...>[67556 rows x 40 columns]
df_E       DataFrame            OrderJourney  d11<...>100174 rows x 25 columns]
df_F       DataFrame            StageX  d13 d13_o<...>110881 rows x 23 columns]
df_a       DataFrame             i3  val_i3     u<...>[22755 rows x 66 columns]
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>